doctype html
head
    meta(charset='utf-8')
    title Task-1
body
    header Header
    main
        nav Menu
            ul
                li Link1
                li Link2
                li ***
        section Content
    footer Footer