html, body
  width: 100%
  height: 100%
  margin: 0
  font-size: 26pt
  overflow: hidden

body
  padding-right: 2px

header, footer, section, nav
  border: 2px solid black
  width: 100%
  display: block
  position: relative
  left: 0
  overflow: hidden

main
  height: 80%
  letter-spacing: -.36em

section, nav
  display: inline-block
  vertical-align: top
  height: 100%
  letter-spacing: normal

nav
  border-top: none
  //border-right: none
  max-width: 300px
  min-width: 200px

section
  margin: 0 auto
  //width: calc(100% - 100px)
  //width: calc(100% - 303px)
  width: 70%
  border-top: none
  border-left: none

header
  height: 10%

footer
  height: 9%
  //background: black
  left: 0
  bottom: 0